## We have been asked to use our hypothesis testing skills to answer the following questions:

- Q1. Do smokers have higher insurance charges than non-smokers?
- Q2. Are men more likely to smoke than women?
- Q3. Do different regions have different charges, on average?

**For each question, make sure to**:

- State your Null Hypothesis and Alternative Hypothesis
- Select the correct test according to the data type and number of samples
- Test the assumptions of your selected test.
- Execute the selected test, or the alternative test (if you do not meet the assumptions)
- Interpret your p-value and reject or fail to reject your null hypothesis 
- Show a supporting visualization that helps display the result

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

## Load Data

In [2]:
df = pd.read_csv('Data/insurance - insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

**Null Hypothesis**: There is no difference in insurance charges for Smoker's and Non-Smokers.

**Alternate Hypothesis**: Insurance charges for Smokers are significantly higher when compared to Non-Smokers.

In [7]:
smokes_charges = df.loc[df['smoker'] == 'yes', ['charges', 'smoker']]
smokes_charges

          charges smoker
0     16884.92400    yes
11    27808.72510    yes
14    39611.75770    yes
19    36837.46700    yes
23    37701.87680    yes
...           ...    ...
1313  36397.57600    yes
1314  18765.87545    yes
1321  28101.33305    yes
1323  43896.37630    yes
1337  29141.36030    yes

[274 rows x 2 columns]

In [8]:
nosmoke_charges = df.loc[df['smoker'] == 'no', ['charges', 'smoker']]
nosmoke_charges

          charges smoker
1      1725.55230     no
2      4449.46200     no
3     21984.47061     no
4      3866.85520     no
5      3756.62160     no
...           ...    ...
1332  11411.68500     no
1333  10600.54830     no
1334   2205.98080     no
1335   1629.83350     no
1336   2007.94500     no

[1064 rows x 2 columns]

In [6]:
data = smokers['']
mean = np.mean(data)
std = np.std(data)
min = np.min(data)
max = np.max(data)

TypeError: 'method' object is not subscriptable

In [ ]:
ax = sns.histplot(x=smokers['charges'],stat='probability',kde=True)
ax.axvline(smokers['charges'].mean(), color='k')
ax.set_title("Smokers Charges (Values)");